$accent: #d81b60;
$pair: #1bd893;

$grayscale-50: #f7f7f7;
$grayscale-100: #efefef;
$grayscale-200: #dfdfdf;
$grayscale-300: #cacaca;
$grayscale-400: #a8a8a8;
$grayscale-500: #878787;
$grayscale-600: #6d6d6d;
$grayscale-700: #5f5f5f;
$grayscale-800: #4a4a4a;
$grayscale-900: #3d3d3d;
