<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'normal'" class="dot" [style.borderColor]="color">
    <div class="dot__content">
      <span class="dot__content__big" *ngIf="!isTextLong">{{
        data.toUpperCase()
      }}</span>
      <span class="dot__content__small" *ngIf="isTextLong">{{
        data.toUpperCase()
      }}</span>
    </div>
  </div>

  <div *ngSwitchCase="'complete'" class="dot-complete"></div>

  <div *ngSwitchCase="'error'" class="dot-error"></div>
</ng-container>
