@use "colors" as *;
@use "mixins" as *;

$size: 48px;
$line-offset: 6px;
$cross-offset: 31.4% + 1%;

:host {
  position: absolute;
  display: block;
  height: 48px;
  width: 100%;
  animation: marble-movement linear 10s;
  transform: translateX(calc(100% - $size));
  opacity: 0;
  top: calc((0px - $size) / 2);
  z-index: 1000;
  // border: 1px solid #00f;
}

.dot {
  top: 0px;
  display: block;
  width: calc($size - 2px);
  height: calc($size - 2px);
  border: 5px solid #333;
  // outline: 1px solid #000;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 3px 2px #0003, 0 1px 1px #0006;

  animation: marble-scale ease-out 0.1s;

  &::after {
    @include pseudo-full();
    background: linear-gradient(#fff, #000);
    @include abs-full(-4px);
    border-radius: 50%;
    mix-blend-mode: overlay;
    opacity: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #0006;
    box-shadow: inset 0 1px 1px #0003;

    display: flex;
    align-items: center;
    justify-content: center;

    // font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.3px;

    // background-color: #fff;
    background: linear-gradient(#fff, #eee);

    color: $grayscale-900;

    &__small {
      font-size: 16px;
    }
  }

  &-error {
    position: relative;
    // background-color: #aaa;
    width: calc($size - 2px);
    height: calc($size - 2px);

    &::before {
      @include pseudo-full();
      transform: translate($cross-offset, -$cross-offset) rotate(45deg);
      border-bottom: 3px solid #333;
    }

    &::after {
      @include pseudo-full();
      transform: translate(-$cross-offset, -$cross-offset) rotate(-45deg);
      border-bottom: 3px solid #333;
    }
  }

  &-complete {
    position: relative;
    top: -$line-offset;
    left: calc($size / 2 - 2px);
    height: calc($size + ($line-offset * 2));
    width: 2px;
    background-color: $grayscale-800;
  }
}

@keyframes marble-movement {
  0%,
  2% {
    transform: translateX(0%);
    opacity: 1;
  }

  95% {
    transform: translateX(calc(100% - $size));
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes marble-scale {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
