@use "colors" as *;
@use "mixins" as *;

:host {
  display: block;
  // border: 1px solid #ccc;
  // background-color: #f8f8f8;
  background: linear-gradient(#f5e7f0, #fdf8f2);
  border-bottom: 3px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 3px 2px #0002, 0 0px 1px 1px #0003;
}

.transport {
  display: flex;
  gap: 2px;
  height: 30px;
  justify-content: end;
  // border: 1px solid #000;
  // box-shadow: inset 0 2px 2px #0003;
  border-radius: 2px;
  padding: 2px;
  // align-items: flex-end;
  // margin-right: auto;
  // background-color: #eee;
  // padding: 0 1px;
  // // padding-bottom: 0px;
  // border-radius: 3px;
  // overflow: hidden;
  // border: 1px solid #ccc;
  // border-top: 1px solid #aaa;
  // box-shadow: inset 0 2px 2px #0003;

  button {
    padding: 4px 8px;
    background-color: $blue;
    color: #fff;
    border: none;
    border-radius: 2px;
    // border: 1px solid #aaa;
    // position: relative;
    // border-bottom: 3px solid darken($blue, 10%);
    // // &::after {
    // //   @include pseudo-full();
    // //   z-index: -1;
    // //   background-color: #f00;
    // //   transform: translateY(3px);
    // // }
    // box-shadow: 0 3px 2px 2px #0002, 0 1px 1px #0006;

    &:hover {
      background-color: lighten($blue, 10%);
      // border-bottom: 4px solid darken($blue, 5%);
    }

    &:active {
      background-color: darken($blue, 5%);
      border-top: 2px solid #ccc;
      box-shadow: inset 0 2px 2px #0003;
    }
  }
}

main {
  // box-shadow: inset 0 1px 3px #0002, inset 0 1px 1px #0004;
  // background-color: #0002;
  // border-top: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
  @include flex-col(2px);

  // background-color: #0004;
  // opacity: 0.8;
  // $c1: #7a6870;
  // $c2: rgb(152, 146, 125);
  // background: repeating-linear-gradient(45deg, $c1, $c1 3px, $c2 3px, $c2 8px);

  .source-block {
    padding: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;

    &__wrapper {
      @include flex-col(3px);
      background: linear-gradient(#f8f8f8, #fff);
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 1px 3px #0002, 0 1px 1px #0004;
      outline: 1px solid #0002;
    }

    &-description {
      padding: 20px;
      position: relative;
      border: 2px solid rgba($accent, 0.4);
      background: linear-gradient(30deg, #fff8fd, #fff7f2);

      // background-color: #fff;
      border-radius: 4px;
      // box-shadow: 0 1px 3px #0002, 0 1px 1px #0004;

      &__content {
        position: relative;
        z-index: 500;
      }
    }
  }
}

.noise-txd {
  position: absolute;
  @include abs-full();
  z-index: 400;
  background-color: #f00;
  background: url("/assets/textures/noise.svg");
  mix-blend-mode: multiply;
  opacity: 0.4;
}
