<div class="transport" *ngIf="transport">
  <button (click)="start()">Subscibe</button>
  <button (click)="stop()">Unsubscribe</button>
</div>

<div class="strip-list inputs">
  <div class="strip-container" *ngFor="let input of inputs">
    <app-marble-strip
      [obs]="input"
      [startObs]="start$"
      [stopObs]="stop$"
    ></app-marble-strip>
  </div>
</div>

<div class="label">
  <ng-content></ng-content>
</div>

<div class="strip-list outputs">
  <div class="strip-container" *ngFor="let output of outputs">
    <app-marble-strip
      [obs]="output"
      [startObs]="start$"
      [stopObs]="stop$"
    ></app-marble-strip>
  </div>
</div>
