:host {
  display: block;
  // border: 1px solid #f00;
  padding: 8px 16px;
}

.strip-list {
  // margin: 8px;
  // border: 1px solid #f00;
  padding: 8px;
  .strip-container {
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // box-shadow: 0 3px 5px #0003;
    // padding: 4px 8px;
    // margin: 6px;
  }
}

.inputs {
}
.outputs {
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  // padding: 4px 8px;
  background-color: #eee;
  // box-shadow: 0 3px 5px #0003;
}
