<h1>From</h1>

<p>
  Converts various other objects and data types into Observables. It also
  converts a Promise, an array-like, or an iterable object into an Observable
  that emits the items in that promise, array, or iterable. A String, in this
  context, is treated as an array of characters. Observable-like objects
  (contains a function named with the ES2015 Symbol for Observable) can also be
  converted through this operator.
</p>

<!-- <app-marble-block
  [inputs]="sources[0].inputs"
  [outputs]="sources[0].outputs"
  [transport]="true"
> -->
<div class="operator-label">
  <span class="accent">from</span>([A, B, C, D, E, F])
</div>
<!-- </app-marble-block> -->

<!-- <app-classic-marble-block
  [data$]="sources[0].outputs[0]"
></app-classic-marble-block> -->
<app-marble-standart-frame [data]="sources[0]"></app-marble-standart-frame>
