@mixin marble-frame {
  display: block;
  background: linear-gradient(#f5e7f0, #fdf8f2);
  border-bottom: 3px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 0 3px 2px #0002, 0 0px 1px 1px #0003;
}
