<h1>Interval</h1>

<p>Interval - rxjs operator</p>

<div style="width: 200px; height: 200px; background-color: #f00">
  long content
</div>
<div style="width: 200px; height: 200px; background-color: #f00">
  long content
</div>
<div style="width: 200px; height: 200px; background-color: #f00">
  long content
</div>
<div style="width: 200px; height: 200px; background-color: #f00">
  long content
</div>

<app-marble-block
  [inputs]="inputs"
  [outputs]="outputs"
  [text]="operatorSample"
></app-marble-block>
