@use "mixins" as *;
@use "colors" as *;

$btn-height-normal: 4px;
$btn-height-pressed: 1px;
$btn-height-active: 2px;

$shadow-long: 0 4px 2px #0003, 0 1px 1px #0007;
$shadow-normal: 0 2px 2px #0003, 0 1px 1px #0007;
$shadow-short: 0 1px 1px #0005;

:host {
  display: block;
  // border: 1px solid #f00;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 2px;
  height: 25px;

  .button {
    width: 60px;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;

    &-play {
      .button-front {
        background-color: $green;
      }

      .button-back {
        background-color: darken($green, 10%);
      }
    }

    &-stop {
      .button-front {
        background-color: $red;
      }

      .button-back {
        background-color: darken($red, 10%);
      }
    }

    &-active {
      width: 40px;

      .button-front {
        top: -$btn-height-active;
        background-color: #aaa;
      }

      .button-back {
        background-color: #888;
        box-shadow: $shadow-normal;
      }
    }

    &-part {
      height: 100%;
      width: 100%;
      border-radius: 2px;
    }
    &-front {
      transition: all 80ms;
      position: absolute;
      top: -$btn-height-normal;
      @include flex-center();
      overflow: hidden;

      img {
        width: 15px;
        height: 15px;
      }

      &::after {
        @include pseudo-full();
        background: linear-gradient(0deg, #fff3, #f000);
      }
    }
    &-back {
      box-shadow: $shadow-long;
      transition: all 80ms;
    }

    &:active {
      .button-front {
        top: -$btn-height-pressed;
      }
      .button-back {
        box-shadow: $shadow-short;
      }
    }
  }
}
