<ng-container *ngFor="let group of operatorGroupNames">
  <section
    *ngIf="
      (operatorList[group] | filterOperator : (searchQuery$ | async) ?? '')
        .length
    "
  >
    <h3>{{ group }}</h3>
    <div class="content">
      <ng-container
        *ngFor="
          let operatorName of operatorList[group]
            | filterOperator : (searchQuery$ | async) ?? ''
        "
      >
        <a
          (click)="navigate(operatorName)"
          [routerLinkActive]="'active-route'"
          >{{ operatorName }}</a
        >
      </ng-container>
    </div>
  </section>
</ng-container>
