$width: 4px;
$heigth: 50px;

:host {
  position: absolute;
  display: block;
  height: 48px;
  width: 100%;
  animation: marble-movement linear 5s;
  transform: translateX(calc(100% - $size));
  opacity: 0;
  top: 1px;
  transform: translateX(calc(100% - $width));
  height: $heigth;
}

@keyframes marble-movement {
  0%,
  2% {
    transform: translateX(0%);
    opacity: 1;
  }

  95% {
    transform: translateX(calc(100% - $width));
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
