<h1>Interval</h1>

<p>
  Returns an Observable that emits an infinite sequence of ascending integers,
  with a constant interval of time of your choosing between those emissions. The
  first emission is not sent immediately, but only after the first period has
  passed
</p>

<!-- <app-marble-block
  [inputs]="sources[0].inputs"
  [outputs]="sources[0].outputs"
  [transport]="true"
>
  <div class="operator-label"><span class="accent">interval</span>(1000)</div>
</app-marble-block> -->

<app-marble-standart-frame [data]="sources[0]"></app-marble-standart-frame>
