@use "mixins" as *;
@use "colors" as *;

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  // overflow: hidden;
  transition: all 0.2s;
  user-select: none;
  @include flex-center();
  color: #fff0;
  border: 2px solid #0003;
  position: relative;

  &__wrapper {
    position: absolute;
    padding: 5px;
    top: -3px;
    left: -3px;
    z-index: 1000;
    width: 150px;
    height: 50px;
    // border: 1px solid #f00;

    &:hover > * {
      height: 20px;
      width: 105px;
      color: #fff;
      border: 0px solid #0003;
      animation: none;

      &::after {
        display: none;
      }
    }
  }

  &-active {
    background-color: $green;

    animation: active-bg 0.5s linear infinite;

    &::after {
      pointer-events: none;
      @include pseudo-full();
      border: 3px solid lighten($green, 5%);
      border-radius: 50%;
      // background-color: #f00;
      animation: active-indicator 0.5s linear infinite;
    }
  }

  &-completed {
    background-color: $blue;
  }

  &-error {
    background-color: $red;
  }
}

@keyframes active-indicator {
  0% {
    // background-color: #f00;
    opacity: 1;
    @include abs-full(0px);
  }
  100% {
    // background-color: #f00;
    opacity: 0;
    @include abs-full(-5px);
  }
}

@keyframes active-bg {
  0% {
    background-color: lighten($green, 20%);
  }
  100% {
    background-color: $green;
  }
}
